body {
  background-color: #333;
}

#lukuinto-spring-2015-editor {
  position: relative;
  border: 2px solid white;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.questionBox {
  position: absolute;
  resize: none;
  border: 3px solid black;
  font-size: 16px;
  height: 238px;
  width: 219px;
  font-family: Arial, sans-serif;
}

.answerTextInput {
  position: absolute;
  width: 302px;
  height: 31px;
  border: 3px solid black;
  font-size: 16px;
  font-family: Arial, sans-serif;
  padding: 3px;
}

.answerCheckboxInput {
  position: absolute;
  height: 37px;
  width: 37px;
}

.taskSelection {
  position: absolute;
  height: 248px;
  width: 143px;
  border: 3px solid black;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.image-upload {
  position: absolute;
  top: 50px;
  left: 25px;
}

.image-upload > input {
  display: none;
}

.clip {
  position: absolute;
  top: 0;
  left: 0;
}

.pos-1 {
  clip:rect(5px 162px 67px 0px);
}

.clip:hover {
  clip:rect(5px 328px 67px 168px);
  left: -167px;
}
