body {
  background-color: #333;
}

#lukuinto-spring-2015-editor {
  position: relative;
  border: 2px solid white;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.questionBox {
  position: absolute;
  resize: none;
}

.answerInput {
  position: absolute;
  width: 350px;
}
